# Build results
bin/
obj/
Debug/
Release/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Ll]og/
[Ll]ogs/

# Visual Studio temporary files
*.tmp
*.temp
*.vs/

# JetBrains Rider
.idea/
*.sln.iml

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# NuGet Packages
*.nupkg
*.snupkg
packages/
*.nuget.props
*.nuget.targets

# Test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUnit
*.VisualState.xml
TestResult.xml
nunit-*.xml

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Files built by Visual Studio
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# ReSharper
_ReSharper*/
*.DotSettings.user

# TeamCity
_TeamCity*

# DotCover
*.dotCover

# AxoCover
.axoCover/*
!.axoCover/settings.json

# Coverlet
coverage*.json
coverage*.xml
coverage*.info

# Visual Studio code coverage
*.coverage
*.coveragexml

# NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

# MightyMoose
*.mm.*
AutoTest.Net/

# Web workbench
.sass-cache/

# Installshield
[Ee]xpress/

# Click-Once
publish/

# Publish Web Output
*.publish.xml
*.azurePubxml
*.pubxml
*.publishproj

# Azure
csx/
*.build.csdef
ecf/
rcf/

# Windows Store
AppPackages/
BundleArtifacts/
Package.StoreAssociation.xml
_pkginfo.txt
*.appx
*.appxbundle
*.appxupload

# Visual Studio cache
*.cache

# Others
ClientBin/
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings
orleans.codegen.cs

# RIA/Silverlight
Generated_Code/

# Backup files
_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML
UpgradeLog*.htm
UpgradeLog*.txt

# SQL Server
*.mdf
*.ldf
*.ndf

# Business Intelligence
*.rdl.data
*.bim.layout
*.bim_*.settings
*.rptproj.rsuser
*- [Bb]ackup.rdl
*- [Bb]ackup ([0-9]).rdl
*- [Bb]ackup ([0-9][0-9]).rdl

# Microsoft Fakes
FakesAssemblies/

# GhostDoc
*.GhostDoc.xml

# Node.js
.ntvs_analysis.dat
node_modules/

# Visual Studio 6
*.plg
*.opt
*.vbw

# Visual Studio LightSwitch
**/*.HTMLClient/GeneratedArtifacts
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
_Pvt_Extensions

# Paket
.paket/paket.exe
paket-files/

# FAKE
.fake/

# CodeRush
.cr/personal

# Python
__pycache__/
*.pyc

# Cake
# tools/**
# !tools/packages.config

# Tabs Studio
*.tss

# Telerik
*.jmconfig

# BizTalk
*.btp.cs
*.btm.cs
*.odx.cs
*.xsd.cs

# OpenCover
OpenCover/

# Azure Stream Analytics
ASALocalRun/

# MSBuild
*.binlog

# NVidia
*.nvuser

# MFractors
.mfractor/

# Local History
.localhistory/

# BeatPulse
healthchecksdb

# Migration
MigrationBackup/

# Ionide
.ionide/

# Fody
FodyWeavers.xsd

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for VS Code
.history/

# Windows Installer
*.cab
*.msi
*.msix
*.msm
*.msp 